<mat-toolbar color="primary">
    <span>Tienda Ropa</span>
    <span class="toolbar-space"></span>
  
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item [routerLink]="['/', 'add']">Agregar Productos </button>
      <button mat-menu-item [routerLink]="['/', 'list']">Listar Productos </button>
      <button mat-menu-item [routerLink]="['/', 'log']">Salir </button>
      <!-- <button mat-menu-item (click)="llevar()" >{{Opciones}}</button> -->
    </mat-menu>
  
  </mat-toolbar>



  <!-- <button mat-button [routerLink]="['/login']" >
    {{nombre}}
</button>
<mat-menu #menu>
        <button class="boton" (click)="llevar()" >{{menuOpcion}}</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more-vert</mat-icon>
</button> -->